@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}
#is {
  font-size: 2em;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 40%;
}
#home {
  font-size: 2em;
  color: #fff;
  background-color: transparent;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 91%;
}
#b {
  background: rgba(255, 255, 255, 0.2); 
  border: 2px solid rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("interviewstartbg1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

.login-box {
  position: absolute;
  left: 18%;
  top: 25%;
  width: 400px;
  height: 350px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}
#startdiv {
  font-size: 2em;
  color: #fff;
  background-color: transparent;
  text-align: center;
  position: absolute;
  top: 52%;
  left: 47.5%;
}
#st {
  background: rgba(255, 255, 255, 0.2); 
  border: 2px solid rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#uservedio {
  position: absolute;
  left: 58%;
  top: 25%;
  width: 400px;
  height: 350px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}
#micdiv {
  font-size: 2em;
  color: #fff;
  background-color: transparent;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 87.5%;
}
#mic {
  background: rgba(255, 255, 255, 0.2); 
  border: 2px solid rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#mic img {
  width: 70px; 
  height: auto;
  position: relative;
  bottom: 5px; 
}
h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
#ans {
  width: 460px;
  position: absolute;
  left: 58%;
  top: 72%;
}

button {
  width: 100%;
  padding: 10px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 10px;
}

button:hover {
  background: #ddd;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: auto;
}

p,
h3 {
  color: #fff;
  text-align: center;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-top: 10px;
}

@media (max-width: 360px) {
  .login-box {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
  }
}
